<% for uber_exc in exceptions %>
  <div class="span-4 append-bottom quiet">
    Last: <%= format_time(uber_exc.last_occurred_at) %><br />
    First: <%= format_time(uber_exc.first_occurred_at) %>
  </div>
  <div class="span-18">
    <h6><a href="/exceptions/<%= uber_exc.id %>?backparams=<%= escape(request.query_string) %>"><%= escape_html(truncate(uber_exc.title, 100)) %></a></h6>
    <%= escape_html(truncate(uber_exc.url, 80)) %>
  </div>
  <div class="span-2 last centered">
    <span class="occurrences_count"># <%= uber_exc.occurrences_count %></span>
  </div>
  <hr />
<% end %>
