<!-- occurrence navigation -->
<div class="span-24 last append-bottom" style="font-size:1.2em">
  <div class="span-3"><%= format_time(@uber_exception.first_occurred_at) %></div>
  <div class="span-18 centered">
    <% if @occurrence_position == 1 %>
      <span class="quiet">&laquo; Older</span>
    <% else %>
      <a onclick="fetchOccurrence(this); return false;" href="/exceptions/<%= @uber_exception.id %>/occurrences/<%= @occurrence_position - 1 %>">&laquo; Older</a>
    <% end %>

    <span style="margin: 0 10px"><b><%= @occurrence_position %></b> of <b><%= @uber_exception.occurrences_count %></b></span>

    <% if @occurrence_position == @uber_exception.occurrences_count %>
      <span class="quiet">Newer &raquo;</span>
    <% else %>
      <a onclick="fetchOccurrence(this); return false;" href="/exceptions/<%= @uber_exception.id %>/occurrences/<%= @occurrence_position + 1 %>">Newer &raquo;</a>
    <% end %>
  </div>
  <div class="span-3 last right-aligned"><%= format_time(@uber_exception.last_occurrence.occurred_at) %></big></div>
</div>

<div class="span-24 last head_box">
  <div class="span-18"><%= @occurrence.http_method %> <a href="<%= @occurrence.url %>" class="silent_link" target="_blank"><%= @occurrence.url %></a></div>
  <div class="span-6 last right-aligned">
    <span style="margin-right: 10px"><%= format_time(@occurrence.occurred_at) %></span>

  </div>
</div>

<div class="span-24 last message_box <%= @uber_exception.category %>">
  <%= escape_html @occurrence.exception_message %>
</div>

<div class="span-24 last append-bottom action_box">
  <form action="/exceptions/<%= @occurrence.uber_key %>/close" method="post" style="display: inline" id="close">
    <input type="hidden" name="backparams" value="<%= params[:backparams] %>" />
    <button type="submit" class="button action_button">
      <img src="/tick.png" alt="Close"/> Close
    </button>
  </form>
  <button type="submit" class="action_button negative category_button <% if @uber_exception.category == 'high' %> active <% end %> " id="high" >high</button>
  <button type="submit" class="action_button category_button <% if @uber_exception.category == 'low' %> active<% end %> " id="low">low</button>
</div>

<div class="span-24 last append-bottom">
  <dl>
    <dt>Referer:</dt>
    <dd><%= @occurrence.referer || 'None' %></dd>

    <dt>User Agent</dt>
    <dd><%= @occurrence.user_agent %></dd>

    <dt>Backtrace:</dt>
    <dd class="backtrace"><code><%= escape_html @occurrence.exception_backtrace.join("\n") %></code><dd>

    <dt>Session:</dt>
    <dd class="nice_hash"><%= pretty_hash(@occurrence.session) %></dd>

    <dt>URL:</dt>
    <dd><%= "#{@occurrence.http_method} #{@occurrence.url}" %></dd>

    <dt>Params:</dt>
    <dd class="nice_hash"><%= escape_html(pretty_hash(@occurrence.parameters)) %></dd>

    <% if @occurrence.cgi_data %>
    <dt>Environment:</dt>
    <dd>
      <div class="span-22 last">
      <% @occurrence.cgi_data.each do |key, value| %>
        <div class="span-6"><code><%= key %></code></div>
        <div class="span-16 last"><%= value && value != '' ? value : '&nbsp;' %></div>
      <% end %>
      </div>
    </dd>
    <% end %>
  </dl>
</div>

<script type="text/javascript" charset="utf-8">
    $( ".category_button" ).click(function(e) {
        e.preventDefault();
        $button = $(this);
        $button.blur();

        if($(e.target).hasClass('active')){
            category = 'no-category'
        } else {
            category = $(e.target).text();
        }

        e.preventDefault();
        $.ajax({
            url: 'category',
            type: 'POST',
            data : "id=<%= @uber_exception.id %>&category=" + category,
            accepts: "application/json",
            success: function(json) {
                $button.toggleClass('active')
                $button.siblings('button').removeClass('active')
                $('.message_box').removeClass('high').removeClass('low').removeClass('no-category').addClass(category);
            }
        });
    });
</script>
