<h2><%= @title %></h2>

<div class="span-24 append-1 prepend-top">
  <% for project in @projects %>
    <h3><a href="/projects/<%= project %>"><%= project %></a> (<%= Exceptionist::UberException.count_all(project) %>)</h3>

    <div class="span-22 prepend-1 last">
      <%= partial(:exceptions, :exceptions => Exceptionist::UberException.find_all_sorted_by_time(project, 1, 3)) %>
    </div>
  <% end %>
</div>

<hr class="space" />
