<script src="/javascripts/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>

<h2><%= @title %></h2>

<% for project in @projects %>
  <div class="span-24 append-1 prepend-top">
    <h3><a href="/projects/<%= project.name %>"><%= project.name %></a> (<%= project.exceptions_count %>)</h3>

    <div class="span-22 prepend-1 last">
      <% holder_div_id = "holder_#{project.name}" %>
      <div id="<%= holder_div_id %>" style="width:870px; height: 220px"></div>
      <script type="text/javascript" charset="utf-8">
        <% last_thirty_days = project.last_thirty_days %>
        var data = [<%= last_thirty_days.map { |day| "[#{day.first.to_i * 1000}, #{day.last}]" }.join(",") %>];

        var options = {
          series: {
            points: { show: true },
            lines: { show: true, fill: true },
            color: "#000099",
          },
          grid: {
            color: "#666",
            borderColor: "#cccccc",
            borderWidth: 1
          },
          xaxis: { mode: "time" }
        }

        $.plot($("#<%= holder_div_id %>"), [data], options);
      </script>
    </div>
  </div>
<% end %>
