<script src="/javascripts/analytics.js" type="text/javascript" charset="utf-8"></script>


<h2><%= @title %></h2>

<div class="span-24 append-1 prepend-top">
  <% for project in @projects %>
    <h3><a href="/projects/<%= project.name %>"><%= project.name %></a> (<%= project.exceptions_count %>)</h3>

    <div class="span-22 prepend-1 last">
      <% holder_div_id = "holder_#{project.name}" %>
      <div id="<%= holder_div_id %>"></div>
      <script type="text/javascript" charset="utf-8">
        <% last_thirty_days = project.last_thirty_days %>
        var labels = [<%= last_thirty_days.map { |day| day.first.day }.join(",") %>];
        var data = [<%= last_thirty_days.map { |day| day.last }.join(",") %>];

        $(document).ready(drawMonthChart('<%= holder_div_id %>', labels, data))
      </script>
    </div>
  <% end %>
</div>

<hr class="space" />
