<h2><%= @title %></h2>

<div class="span-24 append-1 prepend-top">
  <% for project in @projects %>
    <h3><a href="/projects/<%= project.name %>"><%= project.name %></a> (<%= project.exceptions_count %>)</h3>

    <div class="span-22 prepend-1 last">
      <%= partial(:exceptions, :exceptions => project.latest_exceptions) %>
    </div>
  <% end %>
</div>

<hr class="space" />
