<h2><%= @title %></h2>

<% for project in @projects %>
    <div class="span-24 prepend-top" id="<%= project.name %>">
      <h3><a href="/projects/<%= project.name %>"><%= project.name %></a> (<%= project.exceptions_count %>)
         <% if project.last_deploy %> - deploy: <a href="/projects/<%= project.name %>/since_last_deploy"><%= format_time(project.last_deploy.occurred_at) %></a> <% else %> - no deploy found in db<% end %></h3>

      <div class="span-22 prepend-1 last">
        <%= partial(:thirty_day_graph, :holder_div_id => "holder_#{project.name}", :data => project.last_thirty_days, :deploys => project.deploys_last_thirty_days) %>
      </div>
    </div>
<% end %>
