<h2><%= @title %></h2>

<div class="span-24">
  <% for project in @projects %>
      <button type="button" class="hide-project"><%= project.name %></button>
  <% end %>
</div>


<% for project in @projects %>
    <div class="span-24 prepend-top" id="<%= project.name %>">
      <h3><a href="/projects/<%= project.name %>"><%= project.name %></a> (<%= project.exceptions_count %>)
         <% if project.last_deploy %> - deploy: <%= format_time(project.last_deploy.occurred_at) %> <% else %> - no deploy found in db :(<% end %></h3>

      <div class="span-22 prepend-1 last">
        <%= partial(:thirty_day_graph, :holder_div_id => "holder_#{project.name}", :data => project.last_thirty_days) %>
      </div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $( ".hide-project" ).click(function(event) {
        $('#' + $(this).html() ).slideToggle('fast', 'linear');
    });
</script>

