<h2><%= @title %></h2>

<div class="span-22 prepend-1 append-1">
  <div class="span-11 sorting_links">
    <% unless Exceptionist.filter.all.empty? %>
      Show: &nbsp; <%= link_to_unless('All', '?', params[:filter].nil? || params[:filter] == '') %>
      <% for filter in Exceptionist.filter.all.each %>
        <span class="divider">&middot;</spa>
        <%= link_to_unless(filter.first, "?filter=#{filter.first}", params[:filter] == filter.first.to_s) %>
      <% end %>
    <% end %>
  </div>
  <div class="span-11 sorting_links right-aligned last">
    <a href="?sort_by=latest"><%= '&darr; ' if params[:sort_by].nil? || params[:sort_by] == '' || params[:sort_by] == 'latest' %>most recent</a> <span class="divider">&middot;</spa>
    <a href="?sort_by=frequent"><%= '&darr; ' if params[:sort_by] == 'frequent' %>most frequent</a>
  </div>
</div>


<div class="span-22 prepend-1 append-1">
  <hr />
  <%= partial(:exceptions, :exceptions => @uber_exceptions) %>
</div>

<div class="span-3 prepend-1 append-17">
  <% if @start - 25 >= 0 %>
  <strong><a href="/projects/<%= @current_project.name %>?sort_by=<%= params[:sort_by] %>&amp;start=<%= @start - 25 %>">&laquo; previous page</a></strong>
  <% end %>&nbsp;
</div>
<div class="span-2 append-1 last">
  <% if @start + 25 <= @current_project.exceptions_count %>
  <strong><a href="/projects/<%= @current_project.name %>?sort_by=<%= params[:sort_by] %>&amp;start=<%= @start + 25 %>">next page &raquo;</a></strong>
  <% end %>
</div>

<hr class="space" />
