<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'The Exceptionist' %></title>
  <link type="text/css" href="/blueprint.css" rel="stylesheet" media="screen"/>
  <link type="text/css" href="/buttons.css" rel="stylesheet" media="screen"/>

  <style>
    #project_nav {
      float: right;
      font-weight: bold;
    }

    a.silent_link {
      text-decoration: none;
      color: #222;
    }

    a.silent_link:hover {
      text-decoration: underline;
    }

    div.sorting_links {
      margin-bottom: 7px;
    }

    div.sorting_links a {
      text-decoration: none;
      font-weight: bold;
      margin: 0 5px;
    }

    button.close_button {
      float: right;
      margin: 0;
    }

    div.head_box {
      padding: 5px;
      background-color: #D3D3D7;
      font-size: 1.3em;
      color: #111;
    }

    div.message_box {
      padding: 5px;
      font-size: 1.2em;
      background-color: #E9E9EB;
    }

    dd.backtrace {
      background-color: #0B0F21;
      color: #fff;
      white-space: pre;
      overflow: auto;
      max-height: 280px;
      padding: 8px 10px;
    }

    dd.nice_hash {
      white-space: pre;
    }

    dd {
      margin-bottom: 10px;
    }

    .centered {
      text-align: center;
    }

    .right-aligned {
      text-align: right;
    }

    span.occurrence_count {
      background-color: #eee;
      font-size: 1.2em;
      padding: 8px;
      color: #666;
    }
  </style>
</head>

<body>
  <div class="container prepend-top">
    <div id="project_nav">
      <a href="/">Dashboard</a> |
      <select onchange="window.location=this.options[this.selectedIndex].value">
        <% for project in @projects %>
          <option value="/">Dashboard</option>
          <option value="/projects/<%= project.name %>" <%= 'selected="selected"' if @current_project == project %>><%= project.name %></option>
        <% end %>
      </select>
    </div>

    <%= yield %>
  </div>
</body>
</html>
