<style>
  body { font-size:75%; color:#222; background:#fff; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
  h3   { font-size:1.5em; line-height:1; margin-bottom:1em; }
  h4   { margin: 0; font-size:1.2em; line-height:1.25; }
  ul   { margin:0 1.5em 1.5em 0; padding-left:2.3em; }
  li   { margin:8px 0; }
  p    { color:#666; margin:3px 0; }
  a    { color:#009; text-decoration:underline; }
</style>

<div style="margin: 10px 10px">
  <h3>Total exceptions: <%= @current_project.total_count_yesterday %></h3>

  <h3>There have been <%= @uber_exceptions.size %> new exceptions:</h3>

  <ul>
  <% for uber_exc in @uber_exceptions %>
  <li>
    <h4><a href="<%= request.scheme %>://<%= request.host_with_port %>/exceptions/<%= uber_exc.id %>"><%= truncate(uber_exc.title, 100) %></a> (<%= uber_exc.occurrences_count %>)</h4>
    <p><%= truncate(uber_exc.url, 80) %></p>
  </li>
  <% end %>
  </ul>
</div>
