<script type="text/javascript">
  var fetchOccurrence = function(link) {
    $.get($(link).attr('href'), function(data) {
      $('#occurrence').html(data);
    });
    return false;
  }
</script>

<h2>
  <a class="silent_link" href="/projects/<%= @current_project.name %>">[<%= @current_project.name %>]</a>
  <%= truncate(@uber_exception.title, 50) %> (<%= @uber_exception.occurrences_count %>)
</h2>

<hr />

<!-- occurrence graph -->
<div class="span-22 prepend-1 last">
  <%= partial(:thirty_day_graph, :holder_div_id => 'occurrence_graph', :data => @uber_exception.last_thirty_days, :deploys => @current_project.deploys_last_thirty_days) %>
</div>

<div id="occurrence">
  <%= partial(:occurrence) %>
</div>
